{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-triped">
        <thead>
            <tr>
                <th>Price</th>
                <th>Transacted</th>
                <th>note</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row.price }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.note }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}